# =============== 核心垃圾清理 ===============
# 忽略整个 .vscode 文件夹 (防止绝对路径上传)
.vscode
.idea

# 忽略 PlatformIO 编译产生的临时文件夹 (这个超级大，千万别传)
.pio

# =============== 编译产物 (二进制文件) ===============
# 这些是你编译生成的固件，体积大且随时会变，不需要版本控制
*.bin
*.elf
*.hex
*.map
*.d
*.o

# =============== 操作系统垃圾 ===============
.DS_Store
Thumbs.db

# =============== 你的个人隐私 ===============
# 未来如果你写了包含 WiFi 密码的头文件，记得把名字加在这里